---
interface Props {
	avatarUrl: string;
	role: string;
};

const { avatarUrl, role } = Astro.props;
---

<div class="avatar p-3 gap-2 border rounded">
	<img src={avatarUrl} />
	<span title="Account status">{role}</span>
	<div class="gap-2 row flex-column-center-content">
		<button class="btn btn-primary" type="button" id="change-photo">Change photo</button>
		<button class="btn btn-primary" type="button" id="edit-profile">Edit profile</button>
	</div>
</div>

<style is:global>
	.avatar {
		align-self: center;
		display: grid;
		justify-items: center;
	}
	.avatar img {
		width: 148px;
		height: 148px;
		border-radius: 50%;
		object-fit: cover;
		border: 3px solid #2b6fff33;
		box-shadow: 0 0 24px #2b6fff44;
	}
</style>
