---
interface Props {
	title?: HTMLElement | string;
}

const { title } = Astro.props;
---

<div class="card">
	{title && <div class="card-header fw-bold">{title}</div>}

	<div class="card-body d-grid gap-3">
		<slot />
	</div>
</div>
