---
interface Props {
	title?: HTMLElement | string;
	class?: string;
}

const { title, class: classes } = Astro.props;
---

<div class={`card ${classes ?? ""}`}>
	{title && <div class="card-header fw-bold">{title}</div>}

	<div class="card-body d-grid gap-3">
		<slot />
	</div>
</div>
