---
interface Props {
	passwordChangedAgo: string;
	emailNote: string;
};
import Card from "./Card.astro"

const { passwordChangedAgo, emailNote } = Astro.props;
---

<Card title="Security">
	<div class="row border rounded gap-2 p-2 m-1">
		<strong>Password</strong>
		<small>Last changed: {passwordChangedAgo}</small>
		<button class="btn btn-primary" type="button" id="change-password">Change</button>
	</div>
</Card>