---
import "../assets/styles/index.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import logo from "../assets/images/logo.svg";
---

<BaseLayout title="Welcome">
	<!-- Main content -->
	<main class="min-vh-100 flex-center-content">
		<div class="welcome-container flex-column-center-content gap-3">
			<img src={logo.src} alt="Open Spot Logo" />
			<h2>College is hard enough, finding parking shoudn't be</h2>
			<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#loginModal">
				Login
			</button>
			<button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#createModal">
				Create Account
			</button>
		</div>
	</main>

	<!-- Login in Pop up menu -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="loginForm">
					<div class="modal-header">
						<h5 class="modal-title" id="loginModalLabel">Login to Open Spot</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input id="userEmail" type="email" class="form-control mb-3" placeholder="Email" required />
						<input id="password" type="password" class="form-control mb-3" placeholder="Password" required />
						<div id="loginStatus" class="text-danger mb-2" style="display: none;"></div>
					</div>
					<div class="modal-footer">
						<a href="/reset_password">Forgot password?</a>
						<button id="loginSubmit" type="button" class="btn btn-success">Login</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Create account pop up menu -->
	<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="createForm">
					<div class="modal-header">
						<h5 class="modal-title" id="createModalLabel">Create an account for Open Spot</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input id="nameInput" type="text" class="form-control mb-3" placeholder="John Smith" required />
						<input id="emailInput" type="email" class="form-control mb-3" placeholder="Email" required />
						<input id="passwordInput" type="password" class="form-control mb-3" placeholder="Password" required />
						<input
							id="passwordCheck"
							type="password"
							class="form-control mb-3"
							placeholder="Confirm Password"
							required
						/>
						<div id="createStatus" class="text-danger mb-2" style="display: none;"></div>
					</div>
					<div class="modal-footer">
						<button id="createSubmit" type="button" class="btn btn-success">Create</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const submitButton = document.getElementById("loginSubmit");
			const status = document.getElementById("loginStatus");

			if (status) {
				status.style.display = "none"; // Hide status before request

				if (submitButton) {
					submitButton.addEventListener("click", async () => {
						try {
							const emailInput = document.getElementById("userEmail") as HTMLInputElement;
							const email = emailInput.value;
							// if not an ilstu email reject
							if (!email.endsWith("@ilstu.edu")) {
								status.textContent = "Invalid email or password.";
								status.style.display = "block";
								return;
							}

							const passwordInput = document.getElementById("password") as HTMLInputElement;
							const password = passwordInput.value;

							const response = await fetch("/api/user/login", {
								method: "POST",
								body: JSON.stringify({ email: email, password: password }),
								headers: { "Content-Type": "application/json" },
							});

							const result = await response.json();
							if (response.status === 200) {
								status.style.display = "none";
								window.location.href = result.redirectTo;
								// Optionally close modal or redirect
							} else if (response.status === 401) {
								status.textContent = "Invalid email or password.";
								status.style.display = "block";
							} else {
								status.textContent = "Unexpected error. Please try again.";
								status.style.display = "block";
							}
						} catch (error) {
							console.error("Error sending POST request:", error);
						}
					});
				}
			}
		});

		const createButton = document.getElementById("createSubmit");
		const createStatus = document.getElementById("createStatus");

		if (createStatus) {
			createStatus.style.display = "none"; // Hide status before request

			if (createButton) {
				createButton.addEventListener("click", async () => {
					try {
						const emailInput = document.getElementById("emailInput") as HTMLInputElement;
						const newEmail = emailInput.value;
						// if not an ilstu email reject
						if (!newEmail.endsWith("@ilstu.edu")) {
							createStatus.textContent = "Invalid email, only Illinois State email can register for an account";
							createStatus.style.display = "block";
							return;
						}

						const newPasswordInput = document.getElementById("passwordInput") as HTMLInputElement;
						const newPassword = newPasswordInput.value;
						const passwordInputCheck = document.getElementById("passwordCheck") as HTMLInputElement;
						const passwordCheck = passwordInputCheck.value;

						if (newPassword != passwordCheck) {
							createStatus.textContent = "Passwords entered do not match, please check and try again";
							createStatus.style.display = "block";
							return;
						}

						const nameInput = document.getElementById("nameInput") as HTMLInputElement;
						const name = nameInput.value;

						if (!name) {
							createStatus.textContent = "Please put in your name";
							createStatus.style.display = "block";
							return;
						}

						const response = await fetch("/api/user/register", {
							method: "POST",
							body: JSON.stringify({ name: name, email: newEmail, password: newPassword }),
							headers: { "Content-Type": "application/json" },
						});

						const result = await response.json();
						if (response.status === 200) {
							window.location.href = result.redirectTo;
						} else if (response.status === 400) {
							createStatus.textContent = "Email already in use";
							createStatus.style.display = "block";
						} else {
							createStatus.textContent = "Unexpected error. Please try again.";
							createStatus.style.display = "block";
						}
					} catch (error) {
						console.error("Error sending POST request:", error);
					}
				});
			}
		}
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"
		is:inline></script>
</BaseLayout>
