---
export const prerender = false;

import BaseLayout from "../layouts/BaseLayout.astro";
import EmailForm from "src/components/reset/EmailForm.astro";
import NewPassForm from "src/components/reset/NewPassForm.astro";

// Generate different contents if a token was provided or not. If no token, ask for an email to generate the token.
const url = new URL(Astro.request.url);
const tokenProvided = url.searchParams.has("token");
---

<BaseLayout title="Reset Password">
	<main class="min-vh-100 flex-center-content">
		{tokenProvided ? <NewPassForm /> : <EmailForm />}
	</main>
</BaseLayout>
