<!DOCTYPE html>
<html>
    <head>
        <title>Open Spot - Test Login</title>
    	<link rel="icon" href="/favicon.svg" type="image/svg+xml" style ="width: 50px; height: 50px;">
    </head>
    <body>
    </body>
</html>

<script>
    fetch("/api/user/name").then(async res => {
        console.log(await res.text());
    });
</script>