---
// Force the server to regenerate the page every request, rather than at `npm run build`.
export const prerender = false;

// Grab the parameters from the URL
const params = new URLSearchParams(Astro.url.search);
const tokenQuery = params.get("token");

let validToken = true;
let emailVerified = false;

if (tokenQuery) {
	// Token query was provided, send api request
	let response = await fetch(`${Astro.url.origin}/api/email/verify?token=${tokenQuery}`, { method: "GET" });

	if (response.ok) {
		// The verification worked, display good
		emailVerified = true;
	}
} else {
	// No token query was provided, so give an error
	validToken = false;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Verify Email</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<style></style>
	</head>
	<body>
		<div class="wrap">
			<div class="header">
				<img src="/favicon.svg" alt="Open Spot logo" class="logo" />
				<div class="h1">Verifying your email...</div>
				<div class="sub">
					{!validToken ? "Invalid verification token." : emailVerified ? "Success!" : "Email failed to verify."}
				</div>
			</div>
		</div>
	</body>
</html>

<script define:vars={{ emailVerified }}>
	// This is inline implicitly because of define:vars
	// as such, no typescript.
	if (emailVerified) {
		// If the email is verified, redirect after 5 seconds
		setTimeout(() => {
			window.location.href = "/dashboard";
		}, 1000 * 5);
	}
</script>
