---
import BaseLayout from "src/layouts/BaseLayout.astro";

// Force the server to regenerate the page every request, rather than at `npm run build`.
export const prerender = false;

// Grab the parameters from the URL
const params = new URLSearchParams(Astro.url.search);
const tokenQuery = params.get("token");

let validToken = true;
let emailVerified = false;

if (tokenQuery) {
	// Token query was provided, send api request
	let response = await fetch(`${Astro.url.origin}/api/email/verify?token=${tokenQuery}`, { method: "GET" });

	if (response.ok) {
		// The verification worked, display good
		emailVerified = true;
	}
} else {
	// No token query was provided, so give an error
	validToken = false;
}
---

<BaseLayout title="Verify Email">
	<main class="flex-center-content container min-vh-100">
		<div class="border rounded p-4 bg-body text-center w-50">
			<img src="/favicon.svg" alt="Open Spot logo" class="img-fluid w-25" />
			{
				emailVerified ? (
					<p class="text-success">Success! Your email was verified. Redirecting...</p>
				) : (
					<p class="text-danger">Email verification failed.</p>
				)
			}
		</div>
	</main>
</BaseLayout>

<script define:vars={{ emailVerified }}>
	// This is inline implicitly because of define:vars
	// as such, no typescript.
	if (emailVerified) {
		// If the email is verified, redirect after 3 seconds
		setTimeout(() => {
			window.location.href = "/dashboard";
		}, 3000);
	}
</script>
