---
import Card from "../Card.astro";
---

<Card title="Select a new password">
	<form id="reset-form" class="d-grid gap-3">
		<input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
		<input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password" required />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<small id="error"></small>
</Card>

<script>
	// Get token
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	const token = urlParams.get("token");

	if (!token) {
		document.body.innerHTML = "No token provided.";
	}

	// Add event listener for the form
	const form = document.getElementById("reset-form") as HTMLFormElement;
	const password1 = document.getElementById("password") as HTMLInputElement;
	const password2 = document.getElementById("confirm") as HTMLInputElement;
	const error = document.getElementById("error") as HTMLParagraphElement;

	if (form) {
		form.addEventListener("submit", async (event) => {
			event.preventDefault();

			// Handle errors and check fields
			if (password1.value !== password2.value) {
				error.innerHTML = "Passwords do not match!";
				return;
			}

			const formData = new FormData(form);
			const jsonData = Object.fromEntries(formData.entries());
			const response = await fetch(`/api/user/reset?token=${token}`, {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(jsonData),
				credentials: "include",
			});

			if (response.ok) {
				console.log("Password reset");
				window.location.href = "/";
			} else {
				// Handle errors
				console.error("Form submission failed:", response.statusText);
				error.innerHTML = "Something went wrong.";
			}
		});
	}
</script>
