@import "bootstrap/dist/css/bootstrap.min.css";

/* Bootstrap already has styles applied to html and body. Only height is needed */
html,
body {
	height: 100%;
}

/* Custom global styling */
.site-footer {
	width: 100%;
	text-align: center;
}

.flex-center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.flex-column-center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
