@import "bootstrap/dist/css/bootstrap.min.css";
:root {
	--text: white;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	color: var(--text);
}

.site-footer {
	text-align: center;
	padding-bottom: 3rem;
}

.flex-center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.flex-column-center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}
