.welcome-container {
	background-color: hsla(0, 0%, 0%, 0.8);
	border-radius: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url("/login-bg.png"); /* get image from public/login-bg.png */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

main {
	height: 100%;
}
