.welcome-container {
	background-color: hsla(0, 0%, 0%, 0.8);
	border-radius: 1rem;
}

.login-bg {
	background-image: url("/login-bg.png"); /* get image from public/login-bg.png */
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
